{% extends "_base.html" %}
{% load static %}

{% block content %}
        <section class="flat-title-page" style="background-image:url(images/page-title/page-title-3.jpg)">
          <div class="container">
            <div class="breadcrumb-content">
              <ul class="breadcrumb">
                <li>
                  <a class="text-white" href="index.html">خانه</a>
                </li>
                <li class="text-white">/ صفحات</li>
                <li class="text-white">/ سؤالات متداول</li>
              </ul><h1 class="text-center text-white title">سوالات متداول</h1>
            </div>
          </div>
        </section>
        <section class="flat-section">
          <div class="container">
            <div class="tf-faq">
              <h3 class="fw-8 text-center title">نمای کلی</h3><ul class="box-faq" id="wrapper-faq">
                <li class="faq-item">
                  <a aria-controls="accordion-faq-one" aria-expanded="false" class="faq-header collapsed" data-bs-toggle="collapse" href="#accordion-faq-one">چرا باید از خدمات شما استفاده کنم؟</a><div class="collapse" data-bs-parent="#wrapper-faq" id="accordion-faq-one">
                    <p class="faq-body">پس از تنظیم حساب شما و خود را با این سیستم عامل آشنا کرده اید ، شما آماده استفاده از خدمات ما هستید.این که آیا به ویژگی های خاص ، انجام معاملات یا استفاده از ابزارهای ما دسترسی دارد ، هر آنچه را که لازم دارید در نوک انگشتان خود پیدا خواهید کرد.</p>
                  </div>
                </li>
                <li class="faq-item active">
                  <a aria-controls="accordion-faq-two" aria-expanded="false" class="faq-header" data-bs-toggle="collapse" href="#accordion-faq-two">چگونه می توانم با خدمات شما شروع کنم؟</a><div class="collapse show" data-bs-parent="#wrapper-faq" id="accordion-faq-two">
                    <p class="faq-body">پس از تنظیم حساب شما و خود را با این سیستم عامل آشنا کرده اید ، شما آماده استفاده از خدمات ما هستید.این که آیا به ویژگی های خاص ، انجام معاملات یا استفاده از ابزارهای ما دسترسی دارد ، هر آنچه را که لازم دارید در نوک انگشتان خود پیدا خواهید کرد.</p>
                  </div>
                </li>
                <li class="faq-item">
                  <a aria-controls="accordion-faq-three" aria-expanded="false" class="faq-header collapsed" data-bs-toggle="collapse" href="#accordion-faq-three">خدمات شما چقدر امن است؟</a><div class="collapse" data-bs-parent="#wrapper-faq" id="accordion-faq-three">
                    <p class="faq-body">پس از تنظیم حساب شما و خود را با این سیستم عامل آشنا کرده اید ، شما آماده استفاده از خدمات ما هستید.این که آیا به ویژگی های خاص ، انجام معاملات یا استفاده از ابزارهای ما دسترسی دارد ، هر آنچه را که لازم دارید در نوک انگشتان خود پیدا خواهید کرد.</p>
                  </div>
                </li>
                <li class="faq-item">
                  <a aria-controls="accordion-faq-four" aria-expanded="false" class="faq-header collapsed" data-bs-toggle="collapse" href="#accordion-faq-four">آیا پشتیبانی مشتری در دسترس است؟</a><div class="collapse" data-bs-parent="#wrapper-faq" id="accordion-faq-four">
                    <p class="faq-body">پس از تنظیم حساب شما و خود را با این سیستم عامل آشنا کرده اید ، شما آماده استفاده از خدمات ما هستید.این که آیا به ویژگی های خاص ، انجام معاملات یا استفاده از ابزارهای ما دسترسی دارد ، هر آنچه را که لازم دارید در نوک انگشتان خود پیدا خواهید کرد.</p>
                  </div>
                </li>
                <li class="faq-item">
                  <a aria-controls="accordion-faq-five" aria-expanded="false" class="faq-header collapsed" data-bs-toggle="collapse" href="#accordion-faq-five">چگونه می توانم اطلاعات حساب خود را به روز کنم؟</a><div class="collapse" data-bs-parent="#wrapper-faq" id="accordion-faq-five">
                    <p class="faq-body">پس از تنظیم حساب شما و خود را با این سیستم عامل آشنا کرده اید ، شما آماده استفاده از خدمات ما هستید.این که آیا به ویژگی های خاص ، انجام معاملات یا استفاده از ابزارهای ما دسترسی دارد ، هر آنچه را که لازم دارید در نوک انگشتان خود پیدا خواهید کرد.</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tf-faq">
              <h3 class="fw-8 text-center title">هزینه ها و پرداخت ها</h3><ul class="box-faq" id="wrapper-faq-two">
                <li class="faq-item">
                  <a aria-controls="accordion2-faq-one" aria-expanded="false" class="faq-header collapsed" data-bs-toggle="collapse" href="#accordion2-faq-one">چگونه هزینه ها را محاسبه می کنید؟</a><div class="collapse" data-bs-parent="#wrapper-faq-two" id="accordion2-faq-one">
                    <p class="faq-body">پس از تنظیم حساب شما و خود را با این سیستم عامل آشنا کرده اید ، شما آماده استفاده از خدمات ما هستید.این که آیا به ویژگی های خاص ، انجام معاملات یا استفاده از ابزارهای ما دسترسی دارد ، هر آنچه را که لازم دارید در نوک انگشتان خود پیدا خواهید کرد.</p>
                  </div>
                </li>
                <li class="faq-item">
                  <a aria-controls="accordion2-faq-two" aria-expanded="false" class="faq-header collapsed" data-bs-toggle="collapse" href="#accordion2-faq-two">چگونه پیام پرداخت کنم؟</a><div class="collapse" data-bs-parent="#wrapper-faq-two" id="accordion2-faq-two">
                    <p class="faq-body">پس از تنظیم حساب شما و خود را با این سیستم عامل آشنا کرده اید ، شما آماده استفاده از خدمات ما هستید.این که آیا به ویژگی های خاص ، انجام معاملات یا استفاده از ابزارهای ما دسترسی دارد ، هر آنچه را که لازم دارید در نوک انگشتان خود پیدا خواهید کرد.</p>
                  </div>
                </li>
                <li class="faq-item">
                  <a aria-controls="accordion2-faq-three" aria-expanded="false" class="faq-header collapsed" data-bs-toggle="collapse" href="#accordion2-faq-three">آیا فرصت هایی برای تخفیف یا تبلیغ وجود دارد؟</a><div class="collapse" data-bs-parent="#wrapper-faq-two" id="accordion2-faq-three">
                    <p class="faq-body">پس از تنظیم حساب شما و خود را با این سیستم عامل آشنا کرده اید ، شما آماده استفاده از خدمات ما هستید.این که آیا به ویژگی های خاص ، انجام معاملات یا استفاده از ابزارهای ما دسترسی دارد ، هر آنچه را که لازم دارید در نوک انگشتان خود پیدا خواهید کرد.</p>
                  </div>
                </li>
                <li class="faq-item">
                  <a aria-controls="accordion2-faq-four" aria-expanded="false" class="faq-header collapsed" data-bs-toggle="collapse" href="#accordion2-faq-four">آیا هزینه های پنهان در جدول قیمت گذاری وجود ندارد؟</a><div class="collapse" data-bs-parent="#wrapper-faq-two" id="accordion2-faq-four">
                    <p class="faq-body">پس از تنظیم حساب شما و خود را با این سیستم عامل آشنا کرده اید ، شما آماده استفاده از خدمات ما هستید.این که آیا به ویژگی های خاص ، انجام معاملات یا استفاده از ابزارهای ما دسترسی دارد ، هر آنچه را که لازم دارید در نوک انگشتان خود پیدا خواهید کرد.</p>
                  </div>
                </li>
                <li class="faq-item">
                  <a aria-controls="accordion2-faq-five" aria-expanded="false" class="faq-header collapsed" data-bs-toggle="collapse" href="#accordion2-faq-five">روش بازپرداخت چیست؟</a><div class="collapse" data-bs-parent="#wrapper-faq-two" id="accordion2-faq-five">
                    <p class="faq-body">پس از تنظیم حساب شما و خود را با این سیستم عامل آشنا کرده اید ، شما آماده استفاده از خدمات ما هستید.این که آیا به ویژگی های خاص ، انجام معاملات یا استفاده از ابزارهای ما دسترسی دارد ، هر آنچه را که لازم دارید در نوک انگشتان خود پیدا خواهید کرد.</p>
                  </div>
                </li>
                <li class="faq-item">
                  <a aria-controls="accordion2-faq-six" aria-expanded="false" class="faq-header collapsed" data-bs-toggle="collapse" href="#accordion2-faq-six">آیا پشتیبانی مالی یا حسابداری وجود دارد؟</a><div class="collapse" data-bs-parent="#wrapper-faq-two" id="accordion2-faq-six">
                    <p class="faq-body">پس از تنظیم حساب شما و خود را با این سیستم عامل آشنا کرده اید ، شما آماده استفاده از خدمات ما هستید.این که آیا به ویژگی های خاص ، انجام معاملات یا استفاده از ابزارهای ما دسترسی دارد ، هر آنچه را که لازم دارید در نوک انگشتان خود پیدا خواهید کرد.</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tf-faq">
              <h3 class="fw-8 text-center title">ایمنی و امنیت</h3><ul class="box-faq" id="wrapper-faq-three">
                <li class="faq-item">
                  <a aria-controls="accordion3-faq-one" aria-expanded="false" class="faq-header collapsed" data-bs-toggle="collapse" href="#accordion3-faq-one">خدمات شما از چه زبانهایی پشتیبانی می کند؟</a><div class="collapse" data-bs-parent="#wrapper-faq-three" id="accordion3-faq-one">
                    <p class="faq-body">پس از تنظیم حساب شما و خود را با این سیستم عامل آشنا کرده اید ، شما آماده استفاده از خدمات ما هستید.این که آیا به ویژگی های خاص ، انجام معاملات یا استفاده از ابزارهای ما دسترسی دارد ، هر آنچه را که لازم دارید در نوک انگشتان خود پیدا خواهید کرد.</p>
                  </div>
                </li>
                <li class="faq-item">
                  <a aria-controls="accordion3-faq-two" aria-expanded="false" class="faq-header collapsed" data-bs-toggle="collapse" href="#accordion3-faq-two">چگونه خدمات شما را در سیستم خود ادغام کنم؟</a><div class="collapse" data-bs-parent="#wrapper-faq-three" id="accordion3-faq-two">
                    <p class="faq-body">پس از تنظیم حساب شما و خود را با این سیستم عامل آشنا کرده اید ، شما آماده استفاده از خدمات ما هستید.این که آیا به ویژگی های خاص ، انجام معاملات یا استفاده از ابزارهای ما دسترسی دارد ، هر آنچه را که لازم دارید در نوک انگشتان خود پیدا خواهید کرد.</p>
                  </div>
                </li>
                <li class="faq-item">
                  <a aria-controls="accordion3-faq-three" aria-expanded="false" class="faq-header collapsed" data-bs-toggle="collapse" href="#accordion3-faq-three">ویژگی های ایمنی سیستم شما چیست؟</a><div class="collapse" data-bs-parent="#wrapper-faq-three" id="accordion3-faq-three">
                    <p class="faq-body">پس از تنظیم حساب شما و خود را با این سیستم عامل آشنا کرده اید ، شما آماده استفاده از خدمات ما هستید.این که آیا به ویژگی های خاص ، انجام معاملات یا استفاده از ابزارهای ما دسترسی دارد ، هر آنچه را که لازم دارید در نوک انگشتان خود پیدا خواهید کرد.</p>
                  </div>
                </li>
                <li class="faq-item">
                  <a aria-controls="accordion3-faq-four" aria-expanded="false" class="faq-header collapsed" data-bs-toggle="collapse" href="#accordion3-faq-four">چگونه می توانم از ویژگی های جدید درخواست کنم؟</a><div class="collapse" data-bs-parent="#wrapper-faq-three" id="accordion3-faq-four">
                    <p class="faq-body">پس از تنظیم حساب شما و خود را با این سیستم عامل آشنا کرده اید ، شما آماده استفاده از خدمات ما هستید.این که آیا به ویژگی های خاص ، انجام معاملات یا استفاده از ابزارهای ما دسترسی دارد ، هر آنچه را که لازم دارید در نوک انگشتان خود پیدا خواهید کرد.</p>
                  </div>
                </li>
                <li class="faq-item">
                  <a aria-controls="accordion3-faq-five" aria-expanded="false" class="faq-header collapsed" data-bs-toggle="collapse" href="#accordion3-faq-five">آیا داده های من محافظت می شود؟</a><div class="collapse" data-bs-parent="#wrapper-faq-three" id="accordion3-faq-five">
                    <p class="faq-body">پس از تنظیم حساب شما و خود را با این سیستم عامل آشنا کرده اید ، شما آماده استفاده از خدمات ما هستید.این که آیا به ویژگی های خاص ، انجام معاملات یا استفاده از ابزارهای ما دسترسی دارد ، هر آنچه را که لازم دارید در نوک انگشتان خود پیدا خواهید کرد.</p>
                  </div>
                </li>
                <li class="faq-item">
                  <a aria-controls="accordion3-faq-six" aria-expanded="false" class="faq-header collapsed" data-bs-toggle="collapse" href="#accordion3-faq-six">چگونه می توانم یک مسئله فنی را گزارش کنم؟</a><div class="collapse" data-bs-parent="#wrapper-faq-three" id="accordion3-faq-six">
                    <p class="faq-body">پس از تنظیم حساب شما و خود را با این سیستم عامل آشنا کرده اید ، شما آماده استفاده از خدمات ما هستید.این که آیا به ویژگی های خاص ، انجام معاملات یا استفاده از ابزارهای ما دسترسی دارد ، هر آنچه را که لازم دارید در نوک انگشتان خود پیدا خواهید کرد.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
{% endblock content %}
