{% extends '_base.html' %}
{% load static %}

{% block content %}
  <section class="flat-slider home-1">
    <div class="container relative">
      <div class="row">
        <div class="col-lg-12">
          <div class="slider-content">
            <div class="heading text-center">
              <h1 class="title-large text-white animationtext slide">خانه ای برای تو<br /> 
                <span class="tf-text s1 cd-words-wrapper">
                <span class="item-text is-visible">املاک لوکس</span> 
                <span class="item-text is-hidden">مشاورین حرفه ای</span>
              </span>
              </h1>
              <p class="subtitle text-white body-2 wow fadeInUp" data-wow-delay=".2s"> اولین وب سایت املاک در زاهدان</p>
            </div>
            <div class="flat-tab flat-tab-form">
             
              <div class="tab-content">
                <div class="tab-pane fade active show" role="tabpanel">
                  <div class="form-sl">
                    <form method="post">
                      <div class="wd-find-select">
                        <div class="inner-group">
                          <div class="form-group-1 search-form form-style">
                            <label>نوع</label>
                            <div class="group-select">
                              <div class="nice-select" tabindex="0">
                                <span class="current">همه</span>
                                <ul class="list">
                                  <li class="option selected" data-value="">همه</li>
                                  <li class="option" data-value="villa">ویلا</li>
                                  <li class="option" data-value="studio">استحکامات</li>
                                  <li class="option" data-value="office">دفتر</li>
                                  <li class="option" data-value="house">خانه</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="form-group-2 form-style">
                            <label>محل</label>
                            <div class="group-ip">
                              <input class="form-control" name="s" placeholder="محل جستجو" required="" title="Search for" type="text" value="" /> <a class="icon icon-location" href="#"></a>
                            </div>
                          </div>
                          
                        </div>
                       
                      </div>
                      <div class="wd-search-form">
                        <div class="grid-2 group-box group-price">
                          <div class="widget-price">
                            <div class="box-title-price">
                              <span class="title-price fw-6">قیمت:</span>
                              <div class="caption-price">
                                <span class="fw-6" id="slider-range-value1"></span> <span>جدید</span> <span class="fw-6" id="slider-range-value2"></span>
                              </div>
                            </div>
                            <div id="slider-range"></div>
                            <div class="slider-labels">
                              <div>
                                <input name="min-value" type="hidden" value="" /> <input name="max-value" type="hidden" value="" />
                              </div>
                            </div>
                          </div>
                          <div class="widget-price">
                            <div class="box-title-price">
                              <span class="title-price fw-6">اندازه:</span>
                              <div class="caption-price">
                                <span class="fw-7" id="slider-range-value01"></span> <span>جدید</span> <span class="fw-7" id="slider-range-value02"></span>
                              </div>
                            </div>
                            <div id="slider-range2"></div>
                            <div class="slider-labels">
                              <div>
                                <input name="min-value2" type="hidden" value="" /> <input name="max-value2" type="hidden" value="" />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="grid-2 group-box">
                          <div class="group-select grid-2">
                            <div class="box-select">
                              <label class="title-select fw-6">اتاق</label>
                              <div class="nice-select" tabindex="0">
                                <span class="current">2</span>
                                <ul class="list">
                                  <li class="option" data-value="1">1</li>
                                  <li class="option selected" data-value="2">2</li>
                                  <li class="option" data-value="3">3</li>
                                  <li class="option" data-value="4">4</li>
                                  <li class="option" data-value="5">5</li>
                                  <li class="option" data-value="6">6</li>
                                  <li class="option" data-value="7">7</li>
                                  <li class="option" data-value="8">8</li>
                                  <li class="option" data-value="9">9</li>
                                  <li class="option" data-value="10">10</li>
                                </ul>
                              </div>
                            </div>
                            <div class="box-select">
                              <label class="title-select fw-6">حمام</label>
                              <div class="nice-select" tabindex="0">
                                <span class="current">2</span>
                                <ul class="list">
                                  <li class="option" data-value="1">1</li>
                                  <li class="option selected" data-value="2">2</li>
                                  <li class="option" data-value="3">3</li>
                                  <li class="option" data-value="4">4</li>
                                  <li class="option" data-value="5">5</li>
                                  <li class="option" data-value="6">6</li>
                                  <li class="option" data-value="7">7</li>
                                  <li class="option" data-value="8">8</li>
                                  <li class="option" data-value="9">9</li>
                                  <li class="option" data-value="10">10</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="group-select grid-2">
                            <div class="box-select">
                              <label class="title-select fw-6">اتاق خواب</label>
                              <div class="nice-select" tabindex="0">
                                <span class="current">2</span>
                                <ul class="list">
                                  <li class="option" data-value="1">1</li>
                                  <li class="option selected" data-value="2">2</li>
                                  <li class="option" data-value="3">3</li>
                                  <li class="option" data-value="4">4</li>
                                  <li class="option" data-value="5">5</li>
                                  <li class="option" data-value="6">6</li>
                                  <li class="option" data-value="7">7</li>
                                  <li class="option" data-value="8">8</li>
                                  <li class="option" data-value="9">9</li>
                                  <li class="option" data-value="10">10</li>
                                </ul>
                              </div>
                            </div>
                            <div class="box-select">
                              <label class="title-select fw-6">نوع</label>
                              <div class="nice-select" tabindex="0">
                                <span class="current">2</span>
                                <ul class="list">
                                  <li class="option" data-value="1">1</li>
                                  <li class="option selected" data-value="2">2</li>
                                  <li class="option" data-value="3">3</li>
                                  <li class="option" data-value="4">4</li>
                                  <li class="option" data-value="5">5</li>
                                  <li class="option" data-value="6">6</li>
                                  <li class="option" data-value="7">7</li>
                                  <li class="option" data-value="8">8</li>
                                  <li class="option" data-value="9">9</li>
                                  <li class="option" data-value="10">10</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="group-checkbox">
                          <div class="text-1 text-black-2">امکانات:</div>
                          <div class="group-amenities grid-6">
                            <div class="box-amenities">
                              <fieldset class="amenities-item">
                                <input checked="" class="tf-checkbox style-1" id="cb1" type="checkbox" /> <label class="text-cb-amenities" for="cb1">وضعیت هوایی</label>
                              </fieldset>
                              <fieldset class="amenities-item mt-16">
                                <input class="tf-checkbox style-1" id="cb2" type="checkbox" /> <label class="text-cb-amenities" for="cb2">تلویزیون کابلی</label>
                              </fieldset>
                              <fieldset class="amenities-item mt-16">
                                <input class="tf-checkbox style-1" id="cb3" type="checkbox" /> <label class="text-cb-amenities" for="cb3">ارتفاع سقف</label>
                              </fieldset>
                              <fieldset class="amenities-item mt-16">
                                <input class="tf-checkbox style-1" id="cb4" type="checkbox" /> <label class="text-cb-amenities" for="cb4">شومینه</label>
                              </fieldset>
                            </div>
                            <div class="box-amenities">
                              <fieldset class="amenities-item">
                                <input class="tf-checkbox style-1" id="cb5" type="checkbox" /> <label class="text-cb-amenities" for="cb5">دسترسی غیرفعال</label>
                              </fieldset>
                              <fieldset class="amenities-item mt-16">
                                <input checked="" class="tf-checkbox style-1" id="cb6" type="checkbox" /> <label class="text-cb-amenities" for="cb6">آسانسور</label>
                              </fieldset>
                              <fieldset class="amenities-item mt-16">
                                <input class="tf-checkbox style-1" id="cb7" type="checkbox" /> <label class="text-cb-amenities" for="cb7">نرده</label>
                              </fieldset>
                              <fieldset class="amenities-item mt-16">
                                <input class="tf-checkbox style-1" id="cb8" type="checkbox" /> <label class="text-cb-amenities" for="cb8">باغ</label>
                              </fieldset>
                            </div>
                            <div class="box-amenities">
                              <fieldset class="amenities-item">
                                <input checked="" class="tf-checkbox style-1" id="cb9" type="checkbox" /> <label class="text-cb-amenities" for="cb9">طبقه</label>
                              </fieldset>
                              <fieldset class="amenities-item mt-16">
                                <input class="tf-checkbox style-1" id="cb10" type="checkbox" /> <label class="text-cb-amenities" for="cb10">مبله</label>
                              </fieldset>
                              <fieldset class="amenities-item mt-16">
                                <input checked="" class="tf-checkbox style-1" id="cb11" type="checkbox" /> <label class="text-cb-amenities" for="cb11">گاراژ</label>
                              </fieldset>
                              <fieldset class="amenities-item mt-16">
                                <input class="tf-checkbox style-1" id="cb12" type="checkbox" /> <label class="text-cb-amenities" for="cb12">حیوانات خانگی دوستانه</label>
                              </fieldset>
                            </div>
                            <div class="box-amenities">
                              <fieldset class="amenities-item">
                                <input class="tf-checkbox style-1" id="cb13" type="checkbox" /> <label class="text-cb-amenities" for="cb13">گرمایش</label>
                              </fieldset>
                              <fieldset class="amenities-item mt-16">
                                <input class="tf-checkbox style-1" id="cb14" type="checkbox" /> <label class="text-cb-amenities" for="cb14">اینترکام</label>
                              </fieldset>
                              <fieldset class="amenities-item mt-16">
                                <input class="tf-checkbox style-1" id="cb15" type="checkbox" /> <label class="text-cb-amenities" for="cb15">پارکینگ</label>
                              </fieldset>
                              <fieldset class="amenities-item mt-16">
                                <input class="tf-checkbox style-1" id="cb16" type="checkbox" /> <label class="text-cb-amenities" for="cb16">وای فای</label>
                              </fieldset>
                            </div>
                            <div class="box-amenities">
                              <fieldset class="amenities-item">
                                <input class="tf-checkbox style-1" id="cb17" type="checkbox" /> <label class="text-cb-amenities" for="cb17">نوسازی</label>
                              </fieldset>
                              <fieldset class="amenities-item mt-16">
                                <input class="tf-checkbox style-1" id="cb18" type="checkbox" /> <label class="text-cb-amenities" for="cb18">امنیت</label>
                              </fieldset>
                              <fieldset class="amenities-item mt-16">
                                <input class="tf-checkbox style-1" id="cb19" type="checkbox" /> <label class="text-cb-amenities" for="cb19">استخر شنا</label>
                              </fieldset>
                            </div>
                            <div class="box-amenities">
                              <fieldset class="amenities-item">
                                <input class="tf-checkbox style-1" id="cb20" type="checkbox" /> <label class="text-cb-amenities" for="cb20">نوع پنجره</label>
                              </fieldset>
                              <fieldset class="amenities-item mt-16">
                                <input class="tf-checkbox style-1" id="cb21" type="checkbox" /> <label class="text-cb-amenities" for="cb21">جستجوی ملک</label>
                              </fieldset>
                              <fieldset class="amenities-item mt-16">
                                <input class="tf-checkbox style-1" id="cb22" type="checkbox" /> <label class="text-cb-amenities" for="cb22">سال ساخت</label>
                              </fieldset>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </section>
  <section class="flat-section flat__card">
    <div class="container">
      <div class="box-title text-center wow fadeInUp">
        <div class="text-subtitle text-primary"></div>
        <h3 class="mt-4 title">املاک پیشنهادی بیشتر</h3>
      </div>
      <div class="tf-grid-layout md-col-3 wow fadeInUp" data-wow-delay=".2s">
        <div class="box-service">
          <div class="image">
            <img alt="image-location" class="lazyload" data-src="{% static 'images/service/home-1.png' %}" src="{% static 'images/service/home-1.png' %}" />
          </div>
          <div class="content">
            <h5 class="title">خرید ملک</h5>
            <p class="description">بهترین ملک‌ های زاهدان منتظرتن  
              همین حالا خونه جدیدت رو با یه کلیک بخر</p><a class="tf-btn btn-line" href="{% url 'pages:learn_more_buy' %}">وارد شو<span class="icon icon-arrow-left2"></span></a>
          </div>
        </div>
        <div class="box-service">
          <div class="image">
            <img alt="image-location" class="lazyload" data-src="{% static 'images/service/home-2.png' %}" src="{% static 'images/service/home-2.png' %}" />
          </div>
          <div class="content">
            <h5 class="title">فروش ملک</h5>
            <p class="description">باآملک، ملکت رو سریع ، راحت و به بهترین قیمت بفروش!</p><a class="tf-btn btn-line" href="{% url 'pages:learn_more_sell' %}">وارد شو<span class="icon icon-arrow-left2"></span></a>
          </div>
        </div>
        <div class="box-service">
          <div class="image">
            <img alt="image-location" class="lazyload" data-src="{% static 'images/service/home-3.png' %}" src="{% static 'images/service/home-3.png' %}" />
          </div>
          <div class="content">
            <h5 class="title">اجاره ملک</h5>
            <p class="description">اینجا ملک اجاره کنید یا به اجاره بگذارید</p><a class="tf-btn btn-line" href="{% url 'pages:r' %}">وارد شو<span class="icon icon-arrow-left2"></span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="">
    <div class="map-contact" data-map-scroll="true" data-map-zoom="16" id="map-contact"></div>
  </section>
  <section class="flat-section flat-recommended">
    <div class="container">
        <div class="box-title text-center wow fadeInUp">
            <div class="text-subtitle text-primary"> </div>
            <h3 class="mt-4 title">فروش ویژه</h3>
        </div>
        <div class="flat-tab-recommended flat-animate-tab wow fadeInUp" data-wow-delay=".2s">
            <div class="tab-content">
                <div class="tab-pane active show" id="viewAll" role="tabpanel">
                    <div class="row">
                        {% for property in properti_six %}
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="homelengo-box">
                                <div class="archive-top">
                                    <a class="images-group" href="{% url 'HomeApp:HouseDetails' property.id %}">
                                        <div class="images-style">
                                            {% if property.images.exists %}
                                            <img alt="img" class="lazyload"
                                                src="{{ property.images.first.image.url }}" />
                                            {% endif %}
                                        </div>
                                        <div class="top">
                                            <ul class="d-flex gap-6">
                                                <li class="flag-tag primary">برجسته</li>
                                                <li class="flag-tag style-1">
                                                    {% if PR.ad_type == "PURCHASE" %}
                                                    خرید
                                                    {% elif PR.ad_type == "SALE" %}
                                                    فروش
                                                    {% elif PR.ad_type == "LEASE" %}
                                                    رهن
                                                    {% elif PR.ad_type == "RENT" %}
                                                    اجاره
                                                    {% else %}
                                                    نامشخص
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="bottom">
                                            <svg fill="none" height="16" viewbox="0 0 16 16" width="16"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M10 7C10 7.53043 9.78929 8.03914 9.41421 8.41421C9.03914 8.78929 8.53043 9 8 9C7.46957 9 6.96086 8.78929 6.58579 8.41421C6.21071 8.03914 6 7.53043 6 7C6 6.46957 6.21071 5.96086 6.58579 5.58579C6.96086 5.21071 7.46957 5 8 5C8.53043 5 9.03914 5.21071 9.41421 5.58579C9.78929 5.96086 10 6.46957 10 7Z"
                                                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="1.5"></path>
                                                <path
                                                    d="M13 7C13 11.7613 8 14.5 8 14.5C8 14.5 3 11.7613 3 7C3 5.67392 3.52678 4.40215 4.46447 3.46447C5.40215 2.52678 6.67392 2 8 2C9.32608 2 10.5979 2.52678 11.5355 3.46447C12.4732 4.40215 13 5.67392 13 7Z"
                                                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="1.5"></path>
                                            </svg>{{property.location}}
                                        </div>
                                    </a>
                                </div>
                                <div class="archive-bottom">
                                    <div class="content-top">
                                        <h6 class="text-capitalize"><a class="link"
                                                href="property-details-v1.html">{{property.title}}</a></h6>
                                        <ul class="meta-list">
                                            <li class="item">
                                                <i class="icon icon-bed"></i> <span class="text-variant-1">اتاق
                                                    ها:</span> <span class="fw-6">{{property.num_bedrooms}}</span>
                                            </li>
                                            <li class="item">
                                                <i class="icon icon-متر مربع"></i> <span class="text-variant-1">متر
                                                    مربع:</span> <span class="fw-6">{{property.area}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content-bottom">
                                        <div class="d-flex gap-8 align-items-center">
                                            <div class="avatar avt-40 round">
                                                <img alt="avt" src="{{ property.user.avatar.url }}" />
                                            </div><span>{{ property.user.email }}</span>
                                        </div>
                                        <h6 class="price">{{property.price_min}} تومان</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="text-center">
                        <a class="tf-btn btn-view primary size-1 hover-btn-view"
                            href="#">مشاهده ویژگی
                            ها<span class="icon icon-arrow-left2"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  

  <section class="flat-location">
    <div class="box-title text-center wow fadeInUp">
      <div class="text-subtitle text-primary"></div>
      <h3 class="mt-4 title">خانه های لوکس برای شما</h3>
    </div>
    <div class="wow fadeInUp" data-wow-delay=".2s">
      <div class="swiper tf-sw-location" data-mobile="1" data-mobile-sm="2" data-pagination="1" data-pagination-lg="3" data-pagination-md="3" data-pagination-sm="2" data-preview="6" data-space="8" data-space-lg="8" data-space-md="8" data-tablet="3">
        <div class="swiper-wrapper">
          {% for house in properties %}
            <div class="swiper-slide">
              <div class="box-location">
                <a class="image img-style" href="{{ house.get_absolute_url }}"><img alt="image-location" class="lazyload" data-src="{{ house.get_cover_url }}" src="{{ house.get_cover_url }}" /></a>
                <div class="content">
                  <div class="inner-left">
                    <span class="sub-title fw-6">{{ house.title|truncatewords:'3' }}</span>
                    <h6 class="title text-line-clamp-1 link">{{ house.address|truncatewords:'5' }}</h6>
                  </div><a class="box-icon line w-44 round" href="{{ house.get_absolute_url }}"><i class="icon icon-arrow-left2"></i></a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="sw-pagination sw-pagination-location text-center"></div>
      </div>
    </div>
  </section>
{% endblock %}
