{% load static %}

<header class="main-header fixed-header header-dashboard">
    <div class="header-lower">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner-header">
            <div class="inner-header-left">
              <div class="logo-box d-flex">
                <div class="logo">
                  <a href="index.html"><img alt="logo" height="44" src="" width="174" /></a>
                </div>
                <div class="button-show-hide">
                  <span class="icon icon-categories"></span>
                </div>
              </div>
              <div class="nav-outer flex align-center">
                <nav class="main-menu show navbar-expand-md">
                  <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                    <ul class="navigation clearfix">
                      <li class="home">
                        <a href="{% url 'pages:home' %}">خانه</a>
                      
                      </li>
                      <li>
                        <a href="{% url 'pages:house_list' %}">لیست آگهی ها</a>
                        {% comment %} <ul>
                          <li>
                            <a href="{% url 'pages:house_list' %}">برای فروش</a>
                          </li>
                          <li>
                            <a href="property-halfmap-list.html">برای اجاره</a>
                          </li>
                        </ul> {% endcomment %}
                      </li>
                      <li class="dropdown2">
                        <a href="#">صفحات</a>
                        <ul>
                          <li>
                            <a href="{% url 'pages:about' %}">درباره ما</a>
                          </li>
                          <li>
                            <a href="{% url 'pages:our_services' %}">خدمات ما</a>
                          </li>
                        
                          <li>
                            <a href="{% url 'pages:contact_us' %}">با ما تماس بگیرید</a>
                          </li>
                          <li>
                            <a href="{% url 'pages:faq' %}">متداول</a>
                          </li>
                         
                        </ul>
                      </li>
                      <li>
                        <a href="{% url 'blog:blog_list' %}">وبلاگ</a>
                      
                      </li>
                     
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
            <div class="header-account inner-header-right">
              {% if not user.is_authenticated %}
            <div class="inner-header-right header-account">
              <a class="tf-btn btn-line btn-login" data-bs-toggle="modal" href="#modalLogin">
                <svg fill="none" height="20" viewbox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.1251 5C13.1251 5.8288 12.7959 6.62366 12.2099 7.20971C11.6238 7.79576 10.8289 8.125 10.0001 8.125C9.17134 8.125 8.37649 7.79576 7.79043 7.20971C7.20438 6.62366 6.87514 5.8288 6.87514 5C6.87514 4.1712 7.20438 3.37634 7.79043 2.79029C8.37649 2.20424 9.17134 1.875 10.0001 1.875C10.8289 1.875 11.6238 2.20424 12.2099 2.79029C12.7959 3.37634 13.1251 4.1712 13.1251 5ZM3.75098 16.765C3.77776 15.1253 4.44792 13.5618 5.61696 12.4117C6.78599 11.2616 8.36022 10.6171 10.0001 10.6171C11.6401 10.6171 13.2143 11.2616 14.3833 12.4117C15.5524 13.5618 16.2225 15.1253 16.2493 16.765C14.2888 17.664 12.1569 18.1279 10.0001 18.125C7.77014 18.125 5.65348 17.6383 3.75098 16.765Z" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
                </svg>ورود به سیستم
              </a>
            </div>
          {% else %}
            <div class="inner-header-right header-account">
              <a class="tf-btn btn-line btn-login" href="{% url 'profiles:dashboard' %}">
                <svg fill="none" height="20" viewbox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.1251 5C13.1251 5.8288 12.7959 6.62366 12.2099 7.20971C11.6238 7.79576 10.8289 8.125 10.0001 8.125C9.17134 8.125 8.37649 7.79576 7.79043 7.20971C7.20438 6.62366 6.87514 5.8288 6.87514 5C6.87514 4.1712 7.20438 3.37634 7.79043 2.79029C8.37649 2.20424 9.17134 1.875 10.0001 1.875C10.8289 1.875 11.6238 2.20424 12.2099 2.79029C12.7959 3.37634 13.1251 4.1712 13.1251 5ZM3.75098 16.765C3.77776 15.1253 4.44792 13.5618 5.61696 12.4117C6.78599 11.2616 8.36022 10.6171 10.0001 10.6171C11.6401 10.6171 13.2143 11.2616 14.3833 12.4117C15.5524 13.5618 16.2225 15.1253 16.2493 16.765C14.2888 17.664 12.1569 18.1279 10.0001 18.125C7.77014 18.125 5.65348 17.6383 3.75098 16.765Z" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
                </svg>کاربر {{ user }}
              </a>
            </div>
          {% endif %}
            <div class="mobile-nav-toggler mobile-button">
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="close-btn">
      <span class="icon flaticon-cancel-1"></span>
    </div>
    <div class="mobile-menu">
      <div class="menu-backdrop"></div>
      <nav class="menu-box">
        <div class="nav-logo">
          <a href="index.html"><img alt="nav-logo" height="44" src="{% static 'images/logo/logo@2x.png' %}" width="174" /></a>
        </div>
        <div class="bottom-canvas">
          <div class="menu-outer"></div>
          <div class="button-mobi-sell">
            <a class="tf-btn primary" href="add-property.html">ارسال اموال</a>
          </div>
          <div class="mobi-icon-box">
            <div class="box d-flex align-items-center">
              <span class="icon icon-phone2"></span><div>1-333-345-6868</div>
            </div>
            <div class="box d-flex align-items-center">
              <span class="icon icon-mail"></span>
              <div>themesflat@gmail.com</div>
            </div>
          </div>
        </div>
      </nav>
    </div>
</header>