{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" /><title>Homelengo - الگوی HTML املاک و مستغلات</title><meta content="HTML ، CSS ، JavaScript ، bootstrap" name="keywords" />
    <meta content="الگوی HTML املاک و مستغلات" name="description" />
    <meta content="farham aghdasi" name="author" />
    <meta content="width=device-width,initial-scale=1,maximum-scale=1" name="viewport" />
    <link href="{% static 'fonts/fonts.css' %}" rel="stylesheet" />
    <link href="{% static 'fonts/font-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap.min.rtl.css' %}" rel="stylesheet" />
    <link href="{% static 'css/jqueryui.min.rtl.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/styles.rtl.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'images/logo/favicon.png' %}" rel="shortcut icon" />
    <link href="{% static 'images/logo/favicon.png' %}" rel="apple-touch-icon-precomposed" />
  </head>
  <body class="body bg-surface">
    <div class="preload preload-container">
      <div class="preload-logo">
        <div class="spinner"></div><span class="icon icon-villa-fill"></span>
      </div>
    </div>
    <div id="wrapper">
      <div class="clearfix" id="page">
        <div class="layout-wrap">
          {% include 'includes/profile_header.html' %}
          {% include 'includes/profile_sidebar.html' %}
          <div class="main-content">
            <div class="main-content-inner wrap-dashboard-content-2">
              <div class="button-show-hide show-mb">
                <span class="body-1">نمایش داشبورد</span>
              </div>
              <div class="widget-box-2">
                <div class="box">
                  <h5 class="title">تنظیمات حساب</h5><div class="box-agent-account">
                    <h6>حساب نماینده</h6><p class="note">نوع حساب فعلی شما روی کاربر عادی تنظیم شده است، اگر می خواهید حساب خود را ارتقاء دهید و ثبت کننده آگهی شوید، باید روی دکمه زیر کلیک کنید.</p><a class="tf-btn primary" href="{% url "profiles:company_info" %}">ارتقاء اکانت</a>
                  </div>
                </div>
                <form action="#" method="POST">
                  {% csrf_token %}
                  <h5 class="title">اطلاعات</h5>
                  <div class="box-fieldset">
                    <label>ایمیل:<span>*</span></label>
                    {{ form.email|add_class:'form-control style-1' }}
                    {% for error in form.office_address.errors %}
                      <p class="alert alert-danger text-center mt-2">{{ error }}</p>
                    {% endfor %}
                  </div>
                  <div class="box-fieldset">
                    <label>موبایل:<span>*</span></label>
                    {% comment %} <input name="office_number" class="form-control style-1" type="number" /> {% endcomment %}
                    {{ form.mobile|add_class:'form-control style-1' }}
                    {% for error in form.office_number.errors %}
                      <p class="alert alert-danger text-center mt-2">{{ error }}</p>
                    {% endfor %}
                  </div>
                  <div class="box">
                    <button type="submit" class="tf-btn primary mt-2">ذخیره</button>
                  </div>
                </form>
                <br />
                <br />
                <br />
                <h5 class="title">رمز عبور را تغییر دهید</h5>
                <form action="{% url "password_change" %}" method="POST">
                    {% csrf_token %}
                    <div class="box grid-3 gap-30">
                        <div class="box-fieldset">
                          <label>رمز قدیمی:<span>*</span></label>
                          <div class="box-password">
                            <input name="old_password" class="form-contact style-1 password-field" placeholder="رمز عبور" type="password" /> <span class="show-pass"><i class="icon-pass icon-eye"></i> <i class="icon-pass icon-eye-off"></i></span>
                          </div>
                        </div>
                        <div class="box-fieldset">
                          <label>رمز عبور جدید:<span>*</span></label><div class="box-password">
                            <input name="new_password1" class="form-contact style-1 password-field2" placeholder="رمز عبور" type="password" /> <span class="show-pass2"><i class="icon-pass icon-eye"></i> <i class="icon-pass icon-eye-off"></i></span>
                          </div>
                        </div>
                        <div class="box-fieldset">
                          <label>تایید رمز عبور:<span>*</span></label><div class="box-password">
                            <input name="new_password2" class="form-contact style-1 password-field3" placeholder="رمز عبور" type="password" /> <span class="show-pass3"><i class="icon-pass icon-eye"></i> <i class="icon-pass icon-eye-off"></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="box">
                        <button type="submit" class="tf-btn primary">رمز عبور را به روز کنید</button>
                      </div>
                </form>
              </div>
            </div>
            <div class="footer-dashboard">
              {% comment %} <p>حق چاپ © 1403 توسط فرهام اقدسی</p> {% endcomment %}
            </div>
          </div>
          <div class="overlay-dashboard"></div>
        </div>
      </div>
    </div>
    <div class="progress-wrap">
      <svg class="progress-circle svg-content" height="100%" viewbox="-1 -1 102 102" width="100%">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition:stroke-dashoffset 10ms linear 0s;stroke-dasharray:307.919,307.919;stroke-dashoffset:286.138"></path>
      </svg>
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/plugin.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jqueryui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/shortcodes.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
  </body>
</html>
